@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #243C47;
  height: 100%;
}

.active{
  color: #FDC830!important;
}

@layer components{
  .btn-menu{
    @apply uppercase text-sm tracking-widest text-color-white cursor-pointer
         hover:text-mainColor hover:delay-200 delay-75 ease-in duration-150;
  }
}